body {
	background-color:#bbb;
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}
.hero-heading {
  color: #ebe43f;
}

.hero-unit {
  background-image:url('https://raw.githubusercontent.com/nodanaonlyzuul/loc-ead-beautifier/gh-pages/images/explode.gif');
  background-size:cover;
  height:300px;
  background-position-y: -130px;
}